.app-header-fixed {
  padding-top: $navbarHeight;
  background-color: #353b50;
  z-index: 1020;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0;
  padding: 0px 30px;
  height: $navbarHeight;

  .navbar-brand {
    height: $navbarHeight;
    display: flex;
    align-items: center;
    &.logo img {
      margin-left: 5px;
      width: 105px;
      height: 45px;
    }
  }
}

@media (min-width: 768px) {
  .app-header-fixed .navbar-brand.logo img {
    width: 150px;
    height: 65px;
  }
}
