.app-header-fixed {
  padding-top: $navbarHeight;
  background-color: #353b50;
  z-index: 1020;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0;
  padding: 0px 30px;
  height: $navbarHeight;
}
